@import '~antd/dist/antd.css';
@import '~bootstrap-4-grid/css/grid.min.css';

.container {
  background-color: #fff;
  margin: 0px auto;
  padding: 20px;
}

.ant-form-item {
  margin-bottom: 0px;
}

.ant-modal-body{
  padding-top: 0;
}
